body {
  background-image: image-url('bg.jpeg');
  color: aquamarine !important;
}

h1, h2, h3, h4, subtitle, title, p, div {
  color: aquamarine !important;
}

.maxy_logo {
  max-height: 150px;
}

.text_bg {
  color: aquamarine !important;
}